<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>🐢 PortfolioII</title>
</head>
<body>
    <div>
        <div class="navBar corn-bg">
            <a href="/">Home</a>
            <p>|</p>
            <a href="/Project">Project</a>
            <p>|</p>
            <a href="Contact">Contact</a>
        </div>
    <h1 class="plum-text aboutMe">Contact Me!</h1>

    <form action="" class="projectContainer">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" class="marginBot">
        </div>
        <div>
        <label for="name">Email: </label>
        <input type="text" name="email" class="marginBot">
        </div>
        <div>
            <label for="name">Message: </label>
            <textarea name="message" rows="4" cols="50" class="marginBot"> </textarea>
        </div>
        <br>

        <button class="corn-bg btn">Send!</button>
        
    </form>
</body>
</html>