<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>🐢 PortfolioII</title>
</head>
<body>
    <div>
        <div class="navBar corn-bg">
            <a href="/">Home</a>
            <p>|</p>
            <a href="/Project">Project</a>
            <p>|</p>
            <a href="Contact">Contact</a>
        </div>

        <h1 class="plum-text aboutMe">About Me</h1>

        <div class="Container">
            <!---Left Colm---->
            <div>
                <img src="~/Image/Kyle.png" class="midSize" alt="my cool image"/>
                <h2 class="plum-text">Kyle</h2>
                <h4>Musician</h4>
                <h4>Programer extraordinaire</h4>
            </div>
            <!---Right Colm---->
            <div class="leftColmn">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis omnis, velit suscipit, commodi ducimus cumque quasi pariatur necessitatibus quisquam odit id nisi ipsum, error blanditiis. Non deserunt minus necessitatibus facere!</p>
                <p>Provident fugit reiciendis minima deleniti doloribus, ex, deserunt veritatis adipisci vero modi sint tenetur aspernatur velit distinctio recusandae mollitia. Est quis inventore nulla, quam suscipit fuga fugiat maiores corrupti sit!</p>
                <p>Ab, sed harum modi blanditiis inventore, et necessitatibus adipisci dolorem similique itaque id eius, tenetur voluptatem fugit commodi? Ipsum excepturi aspernatur eveniet amet temporibus nostrum esse veniam nisi. Aut, suscipit.</p>
                <p>Cum, officiis! Dolore minima atque quaerat, quae, ex quibusdam similique ipsa labore sed quas explicabo numquam aut eligendi nihil blanditiis itaque id vel asperiores, sequi quam sunt temporibus? Ad, distinctio.</p>
            </div>
        </div>
    </div>
</body>
</html>