<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" />
    <title>🐢 PortfolioII</title>
</head>

<body>
    <div class="navBar corn-bg">
        <a href="/">Home</a>
        <p>|</p>
        <a href="/Project">Project</a>
        <p>|</p>
        <a href="Contact">Contact</a>
    </div>

    <h1 class="plum-text aboutMe">My Project</h1>

    <div class="projectContainer">
        <!--Project1-->
        <div class="singleProjectContainer">
            <!---Left Colm---->
            <div>
                <img src="~/Image/Project1.png" class="projectImg" alt="my cool image" />
            </div>
            <!---Right Colm---->
            <div class="projectText">
                <h2>Project 1</h2>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis omnis, velit suscipit, commodi
                    ducimus cumque quasi pariatur necessitatibus quisquam odit id nisi ipsum, error blanditiis. Non
                    deserunt minus necessitatibus facere!</p>
            </div>
        </div>
        <!--Project2-->
        <div class="singleProjectContainer">
            <!---Left Colm---->
            <div>
                <img src="~/Image/Project2.png" class="projectImg" alt="my cool image" />
            </div>
            <!---Right Colm---->
            <div class="projectText">
                <h2>Project 2</h2>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis omnis, velit suscipit, commodi
                    ducimus cumque quasi pariatur necessitatibus quisquam odit id nisi ipsum, error blanditiis. Non
                    deserunt minus necessitatibus facere!</p>
            </div>
        </div>
        <!--Project3-->
        <div class="singleProjectContainer">
            <!---Left Colm---->
            <div>
                <img src="~/Image/Project3.png" class="projectImg" alt="my cool image" />
            </div>
            <!---Right Colm---->
            <div class="projectText">
                <h2>Project 3</h2>
                <br>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis omnis, velit suscipit, commodi
                    ducimus cumque quasi pariatur necessitatibus quisquam odit id nisi ipsum, error blanditiis. Non
                    deserunt minus necessitatibus facere!</p>
            </div>
        </div>
    </div>
</body>

</html>